.about {
    background: rgba(255, 109, 0, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    padding: 100px;
    color: white;
}

.about-content {
    margin-top: 50px;
    font-size: 25px;
}

.about-profile {
    margin-top: 50px;
}


// Template Styling

:root {
    --light: #ffe6e6;
    --dark: #000;
}

.container {
    overflow: clip;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    width: 100%;
    height: 100dvh;
}

.category_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

@media (max-width:550px) {
    .category_container {
        flex-direction: column;
    }
}

.content {
    --active: 0;
    cursor: pointer;
    overflow: clip;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 2.5rem;
    width: 300px;
    height: 100%;
    border-radius: 1rem;
    transition: width 0.5s ease-in-out;
}

.content:hover {
    --active: 1;
    width: 300px;
}

.content::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.content img {
    position: absolute;
    z-index: -20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.content .profile_image {
    opacity: calc(1 - var(--active));
    transition: opacity 0.3s ease-in-out;
}

.profile_detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 12rem;
    transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.profile_detail span {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light);
    text-wrap: nowrap;
}

.profile_detail p {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
}

.profile_quote {
    width: 22rem;
    transform: translate(0,
            calc((1 - var(--active)) * (100% + 2.5rem)));
}

.profile_quote p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light);
    transform: translate(0,
            calc((1 - var(--active)) * (100% + 2.5rem)));
    transition: transform 0.5s cubic-bezier(0.23,
            0.93, 0.77, 1) 0.1s;
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
    transition: grid-template-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s, -ms-grid-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.profile_quote {
    min-height: 0;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.content:hover .wrapper {
    grid-template-rows: 1fr;
}

.content:hover .profile_quote {
    transform: none;
    opacity: 1;
}