<app-header></app-header>

<div class="about">
    <div class="about-us-content">
        <h1>About Us</h1>
        <p class="about-content">
            We are a team of four dedicated third-year Computer Science and Engineering students from New Prince Shri
            Bhavani College of Engineering and Technology. With a shared passion for technology and innovation, we
            embarked on this project to create ServiceScout, a Local Service Finder web application.

            Our aim is to bridge the gap between service providers and users, making it easier for individuals to
            discover local services tailored to their needs. Through extensive research and collaboration, we have
            designed a user-friendly platform that allows users to search for, review, and connect with various local
            service providers.

            We believe in the power of technology to simplify everyday tasks and enhance community engagement. With
            ServiceScout, we hope to contribute positively to our community by providing a reliable resource for finding
            local services.

            Thank you for visiting our project!</p>
    </div>
    <div class="about-profile">
        <div class="category_container">
            <div class="content">
                <img src="../../../assets/About-Profile/Jenovas.jpg" class="profession_image" alt="Profession" />
                <img src="https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                <div class="profile_detail">
                    <span>Jenovas D A</span>
                    <p>CSE 3rd Year</p>
                </div>

                <div class="wrapper">
                    <div class="profile_quote">
                        <p>
                            <a href="mailto:dajenovas@gmail.com">dajenovas&#64;gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="content">
                <img src="../../../assets/About-Profile/Jenovas.jpg" class="profession_image" alt="Profession" />
                <img src="https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                <div class="profile_detail">
                    <span>Jenovas D A</span>
                    <p>CSE 3rd Year</p>
                </div>

                <div class="wrapper">
                    <div class="profile_quote">
                        <p>
                            <a href="mailto:dajenovas@gmail.com">dajenovas&#64;gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="content">
                <img src="../../../assets/About-Profile/Jenovas.jpg" class="profession_image" alt="Profession" />
                <img src="https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                <div class="profile_detail">
                    <span>Jenovas D A</span>
                    <p>CSE 3rd Year</p>
                </div>

                <div class="wrapper">
                    <div class="profile_quote">
                        <p>
                            <a href="mailto:dajenovas@gmail.com">dajenovas&#64;gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="content">
                <img src="../../../assets/About-Profile/Jenovas.jpg" class="profession_image" alt="Profession" />
                <img src="https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="profile_image" alt="Profile" />
                <div class="profile_detail">
                    <span>Jenovas D A</span>
                    <p>CSE 3rd Year</p>
                </div>

                <div class="wrapper">
                    <div class="profile_quote">
                        <p>
                            <a href="mailto:dajenovas@gmail.com">dajenovas&#64;gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>