@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.container-1 {
  background: rgba(255, 109, 0, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
}

.welcome {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  padding-right: 50px;

  img {
    height: 200px;
    border-radius: 50%;
  }
}

.block {
  height: 100%;
  width: 27.5%;
}

//local

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    -webkit-box-shadow: 12px 14px 62px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 14px 62px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 14px 62px 0px rgba(0, 0, 0, 0.75);
  }
}

.explore {
  padding: 15px 30px;
  font-size: 16px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6d00;
}

.popular-services-section {
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 40px;
  }
}

.service-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.service-item {
  width: 150px;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
}

.service-item img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.service-item:hover img {
  transform: scale(1.1);
}

.service-item span {
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}


.content-section {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background: rgb(255, 72, 0);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.card-app {
  display: flex;
  margin-bottom: 50px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.explore-more {
  margin: 50px;

  button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
      -6px -6px 12px #ffffff;
  }

  button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #fff6eb 0%, #f95347 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
  }

  button:hover::before {
    width: 9em;
  }
}