<div class="card">
    <div class="image">
        <img src="../../../assets/Home/Background/HomePage Background.jpg" alt="">
    </div>
    <div class="content">
        <div class="service-provider-name">
            <h1>Company Name</h1>
        </div>
        <div class="service-type">
            <h2>Category</h2>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo neque accusamus nulla molestias, voluptatum assumenda commodi! Nisi ab optio harum.</p>
        </div>
        <div class="contact">
            <button>
                Contact Now
            </button>
        </div>
    </div>
</div>