<div class="container">
    <div class="get-started">
        <div class="logo">
            <img src="../../../assets/Logo/Logo.png" />
            <h1>Get Started with <span>Service Scout</span></h1>
        </div>
        <div class="get-started-content">
            <p class="intro">
                Welcome to ServiceScout! We’re excited to help you discover trusted local services tailored to your
                needs. Follow these simple steps to get started and make the most of your experience.
            </p>
        </div>
        <div class="get-started-button">
            <a routerLink="/login">
            <button class="button">
                Get Started
                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                    <path clip-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                        fill-rule="evenodd"></path>
                </svg>
            </button>
            </a>
        </div>
    </div>
</div>